<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>Entry</servlet-name>
        <servlet-class>com.lowLevelFrameworkTest.lowLevelFrameworkTest.LowLevelFrameworkTestApplication</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Entry</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>